<!DOCTYPE html>
<html>
<head>
    <title>Ask API Demo</title>
    <link rel="stylesheet" href="static/css/styles.css?n={{ static_version }}">
</head>
<body>
    <div class="container">
        <h1 id="welcome">{{ welcome_message }}</h1>
        <div id="auth-form">
            <div class="form-group">
                <input type="text" id="api-key" placeholder="Enter your API key">
            </div>
            <button id="authenticate-btn">Authenticate</button>
        </div>
        <div id="api-section" class="hidden">
            <div class="button-group">
                <button id="make-request-btn">Click to make a request to the Ask API!</button>
                <button class="logout-btn" id="logout-btn">Logout</button>
            </div>
            <div id="result"></div>
        </div>
    </div>

    <!-- Modal Box -->
    <div id="modal-overlay" class="modal-overlay">
        <div id="modal-box" class="modal-box">
            <button class="modal-close" id="modal-close-btn">&times;</button>
            <div class="hidden" id="modal-content"></div>
        </div>
    </div>

    <script src="static/js/main.js?n={{ static_version }}"></script>
</body>
</html> 